@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,700&family=Roboto:wght@100..900&display=swap');

body {
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.logo-web {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-left: 156px;
    margin-top: 24px;
}

.logo-studio {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    text-decoration: none;
    margin-left: 200px;
    margin-top: 24px;
}

.header-nav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;

}

.main-section1 {
    width: 1440px;
    height: 600px;
    background: #2e2f42;
}

h1 {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07143;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

header {
    width: 1440px;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    background-color: #fff
}